<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_ACS.Properties.Settings.ConnectionString"
            connectionString="TNS_ADMIN=C:\Users\Enrico\Oracle\network\admin;USER ID=CHRIS;PASSWORD=clovinlee;DATA SOURCE=localhost:1521/XEPDB1;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>